
node_modules/


.next/
out/


.vercel/


.env
.env.local
.env.*.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.DS_Store

# Local backups
*.zip

# Prisma local cache (should not be committed)
.prisma/

.DS_Store
